<div ng-controller="HomeController as vm">
  <div class="img-wrap" style="margin-top:-20px;text-align:center;">
    <div id="navBtnDiv">
      <md-input-container id="mdNavCon">
        <md-button  class="md-raised md-warn mdNavConBtn"ui-sref='Laws' ng-click='vm.Home()'>State Laws</md-button>
        <md-button class="md-raised md-warn mdNavConBtn" ui-sref='Home' ng-click='vm.showCamp()'>Home</md-button>
        <md-button class="md-raised md-warn mdNavConBtn" ui-sref='About' ng-click='vm.showAboutPage()'>About TravState </md-button>
      </md-input-container>
    </div>
  </div>
    <h1 id='campText' style="color:white;font-size:3.8em;padding-left:20px;padding-right:20px;">State Camping resources COMING SOON!</h1>

  <div class="col-md-12">
    <footer style="text-align:center;color:white;bottom:0;top:0"><p><b>&copy 2016 Phoja Unlimted LLC</b></p></footer>
  </div>



</div>
