<div style="background-color:#1abace"ng-controller="HomeController as vm">
	<div  class=""ng-show='vm.enterTraveLaws'style="height:600px;margin:0 auto;text-align:center">
		<md-input-container style="text-align:center ">
			<md-button class="md-raised md-warn" style="width:200px;margin:0 auto; margin-top:200px;"ng-click='vm.showTraveLaws()'>Enter TraveLaws</md-button>
		</md-input-container>
	</div>

	<div ng-show='vm.TraveLaws'>
		<md-input-container>
			<md-button style="width:100px;margin:15px;"class="md-raised md-warn" ng-click='vm.leaveTraveLaws()'>Exit</md-button>
	</md-input-container>
	<div style="text-align:center;font-family:'Architects Daughter', cursive;font-size:5em;font-weight:bold;margin-top:-10px;">{{vm.title}}</div>
	<h4 style="text-align:center">{{vm.head}}</h4>


<form class="form-inline">
	<div class="well container" style="text-align:justify;padding:20px">
		<p style="font-size:20px;padding-bottom:25px;"><span style="font-size:1.5em">TraveLaws</span> is your one stop resource for law information on different U.S. states. Whether you're on vaction or you're looking to move your business to another state, TraveLaws is the resource for you!</p>
		<h4 >What is TraveLaws?</h4>
		<p >TraveLaws is your go to resource to find different laws for different states all on one site. As some U.S. states don't have goverment websites regarding certain areas of law, here on TraveLaws we make it easy for you to find and connect to those corresponding online state resources.</p>
	</div>
<div class="well col-md-12" style="background-color:rgba(20,100,0,0.3);">
	<div >
		<div>
				<h3 style="text-align:center">Select a category of law for the corresponding state.</h3>
				<hr>
			<div class='col-md-3' style="margin:0 auto"ng-repeat='s in vm.States'>


				<md-content style="background-color:purple;width:220px;margin:20px auto">
    <md-card style="background-color:tan;width:205px;">
      <md-card-content id='statePic' style="background-image:url('{{s.image}}');background-repeat: no-repeat;text-align:center;background-size:100%;padding-top:10px;height:135px;">



      </md-card-content>
<a href='#' style="text-decoration:none:"><p style="text-align:center;margin-top:20px;color:black;font-size:15px;"class="md-title"> See {{s.state}} laws</p></a>
      <!-- <div class="md-actions" layout="row" style="color:black"layout-align="end center">
        <md-button><a style="color:black" target='_blank' href="{{s.laws.gen}}" >General Laws</a> | </md-button>
        <md-button><a style="color:black" target='_blank' href="{{s.laws.traf}}" >  Traffic Laws</a> | </md-button>
				<md-button><a style="color:black" target='_blank' href="{{s.laws.gun}}" > Gun Laws</a> | </md-button>
        <md-button><a style="color:black" target='_blank' href="{{s.laws.bus}}" > Business Laws</a></md-button>
      </div> -->
    </md-card>


			</div>
			<md-content>
				<h3 style="text-align:center;color:red;font-weight:bold">More states coming soon!</h3>
			</md-content>
		</div>
	</div>
</div>
</form>

</div>
</div>
