<div id="ctrlDiv" ng-controller="HomeController as vm">




    <!-- BACKGROUND AND NAV BUTTONS -->
    <div class="img-wrap container">
      <div id="navBtnDiv">
        <md-input-container id="mdNavCon">
          <md-button class="md-raised md-warn mdNavConBtn" ui-sref='Laws' ng-click='vm.Home()'>State Laws</md-button>
          <md-button class="md-raised md-warn mdNavConBtn" ui-sref='Camping' ng-click='vm.showCamp()'>State Camping</md-button>
          <md-button class="md-raised md-warn mdNavConBtn" ui-sref='About' ng-click='vm.showAboutPage()'>About TravState </md-button>
        </md-input-container>
      </div>

      <div class="responsive"id="siteTitle">{{vm.title}}</div>
      <p style="text-align:center" id="siteHead">Where travel and law come together</p>

      <div id="siteDesc" class="container" style="">
        <h3 style="color:white;text-align:center;"><i><b>What is TravState?</b></i></h3>
        <p style="color:white;text-align:center;padding-bottom:40px;font-size:20px" >TravState is a resource used to find different state laws for different states all on one site. As some U.S. states don't have goverment websites regarding certain areas of law, here on TravState we make it easy for you to find and connect to those corresponding online state resources.</p>
      </div>

      <div class="col-md-12">
        <footer style="text-align:center;color:white;bottom:0;"><p><b>&copy 2016 Phoja Unlimted LLC</b></p></footer>
      </div>
    </div> <!--image wrap-->

</div>
