<div ng-controller="HomeController as vm">

<style>
var img = $(document.createElement("img"));
$(img).attr({
  "src": this url,
  "data-index": count,
  "title": this.title,
  "alt": this.description
});
.container{display:inline; transform:rotateY(0deg); perspective:500px; margin:2em;}

.container:hover .card,
.container .hover .card{transform:rotateY(180deg);margin-right:-150px;}

.container, .front, .back{width:280px; height:580px;margin:10px 50px}

.front, .back{backface-visibility:hidden; position:absolute; top:0; left:0; }
.front, .back{box-sizing:border-box;}

.card{position:relative; display:block; transition:1.5s; transform-style:preserve-3d;margin:5px;}

.front{z-index:2; transform: rotateY(0deg); background-size: cover;}

.front h3{background:rgba(0, 0, 0, 0.5); color:#fff; text-align:center; padding:.5em;}

.back{padding:1em; transform:rotateY(180deg); background:#eee;}
nav{display:block; padding:.5em; margin:0;}
nav a{display:block; list-style:none; background:#aaa; color:#fff; font-size:1.5em; margin-top:.5em; padding:.5em; text-align: center}
nav a:hover{background: #333;}
.last{margin-top: -500px;margin-right: 10px;}
.col-md-12{padding-left: 0px;padding-right: 20px}
</style>
<script>
  window.addEventListener("load", function(){
    var containers = document.querySelectorAll(".container");
    for(var i=0; i<containers.length; i++){
      containers[i].addEventListener("touchstart", function(){
        this.classList.toggle("hover");
      });
    }
  });
</script>

  <div class="img-wrap" style="margin-top:-20px;text-align:center;">
    <div id="navBtnDiv">
      <md-input-container id="mdNavCon">
        <md-button  class="md-raised md-warn mdNavConBtn"ui-sref='Home' ng-click='vm.Home()'>Home</md-button>
        <md-button class="md-raised md-warn mdNavConBtn" ui-sref='Camping' ng-click='vm.showCamp()'>State Camping</md-button>
        <md-button class="md-raised md-warn mdNavConBtn" ui-sref='About' ng-click='vm.showAboutPage()'>About TravState </md-button>
      </md-input-container>
    </div>
    <div class="responsive"id="siteTitle" style="margin-bottom:-40px;">{{vm.title}}</div>
    <div id="instructions">
      <h3 id="h3"style="text-align:center;color:white;margin-top:130px;">Select a category of law for the corresponding state.</h3>
      <h4 id="h4"style="color:white;text-align:center;">Click the state flag to view state facts or the button to view state laws</h4>
    </div>

  </div>


  <div class="cards">
    <hr>
    <div id="spacer"></div>
    <div class='col-md-3' ng-repeat='s in vm.States| filter:searchText'>
      <md-content style="text-align:center;background-color:rgba(20,100,0,0.3);width:220px;margin:20px auto">
        <md-card style="background-color:black;width:205px;">
          <!-- State Flag Image -->
          <md-card-content>
          <md-menu md-position-mode="target-right target" style="color:black;">

              <img aria-label="Open demo menu"ng-click="$mdOpenMenu($event)" id='statePic'src='{{s.image}}' height='100'>
            <!-- </button> -->
            <md-menu-content width="4"  >
              <md-item style="color:black;padding-left:5px;">
                <span style="text-align:right;background-color:lightblue;font-size:15px;padding-left:5px;">{{s.state}}</span><br>
                <md-button style='color:black;' href="">  Facts about {{s.state}} </md-button><br>
                <p><b>Nickname:</b> {{s.facts.stNickName}}</p>
                <p><b>Motto:</b> {{s.facts.stMotto}}</p>
                <p><b>Population:</b> {{s.facts.stPop}}</p>
                <p><b>Sq. Area:</b> {{s.facts.stArea}}</p>
                <p><b>Capitol:</b> {{s.facts.stCaptiol}}</p>
                <p><b>Entered Union:</b> {{s.facts.stUnion}}</p>
                <p><b>Mascot:</b> {{s.facts.stMascot}}</p>
                <p><b>State Flower:</b> {{s.facts.stFlower}}</p>
                <p><b>State Bird:</b> {{s.facts.stBird}}</p>
              </md-item>
            </md-menu-content>
          </md-menu>
          </md-card-content>
          <!--  -->
          <md-menu md-position-mode="target-right target" style="color:black;">
            <!-- Modal button -->
            <md-button style="margin: 0;"aria-label="Open demo menu" class="md-default md-raised" ng-click="$mdOpenMenu($event)">
              <b>{{s.state}} Laws</b>
            </md-button>
            <!-- Modal content -->
            <md-menu-content width="3"  >
              <md-item style="color:black;">
                <span style="text-align:right;background-color:lightblue;font-size:15px;padding-left:5px;">{{s.state}}</span><br>
                <md-button style='color:black;' href="">  Select a law category: </md-button><br>
                <md-button style='color:black;' href="{{s.laws.gen}}" target="_blank">  General Laws </md-button><br>
                <md-button style='color:black;' href="{{s.laws.bus}}" target="_blank">  Business Laws </md-button><br>
                <md-button style='color:black;' href="{{s.laws.traf}}" target="_blank">  Traffic Laws </md-button><br>
                <md-button style='color:black;' href="{{s.laws.gun}}" target="_blank">  Gun Laws </md-button>
              </md-item>
            </md-menu-content>
          </md-menu>
        </md-card>
      </md-content>
      <!-- LAW CATEGORY DISPLAY -->
    </div>
  </div>

  <!--  -->
  <div class="container col-md-3" ng-repeat='s in vm.States| filter:searchText'>
    <div class="card ">
      <div class="front"   style="background-image:url('');" >
        <img id='statePic'src='{{s.image}}' width='280' alt="" />
        <h3>{{s.state}}</h3>
      </div>
      <div class="back">
        <!-- <h3>A Tasty Burger</h3>
        <p>This is a tasty burger served with cheese, tomatoe, and lettuce.</p> -->
        <span style="text-align:right;background-color:lightblue;font-size:15px;padding-left:5px;">{{s.state}}</span><br>
        <p><b>Nickname:</b> {{s.facts.stNickName}}</p>
        <p><b>Motto:</b> {{s.facts.stMotto}}</p>
        <p><b>Population:</b> {{s.facts.stPop}}</p>
        <p><b>Sq. Area:</b> {{s.facts.stArea}}</p>
        <p><b>Capitol:</b> {{s.facts.stCaptiol}}</p>
        <p><b>Entered Union:</b> {{s.facts.stUnion}}</p>
        <p><b>Mascot:</b> {{s.facts.stMascot}}</p>
        <p><b>State Flower:</b> {{s.facts.stFlower}}</p>
        <p><b>State Bird:</b> {{s.facts.stBird}}</p>
        <nav>
          <md-button style='color:black;' href="{{s.laws.gen}}" target="_blank">  General Laws </md-button>
          <md-button style='color:black;' href="{{s.laws.bus}}" target="_blank">  Business Laws </md-button>
          <md-button style='color:black;' href="{{s.laws.traf}}" target="_blank">  Traffic Laws </md-button>
          <md-button style='color:black;' href="{{s.laws.gun}}" target="_blank">  Gun Laws </md-button>

        </nav>
      </div>
    </div>
  </div>

  <!--  -->

          <!-- MORE COMING notifying div -->
          <!-- <div class='col-md-3 container' style="margin: auto">
            <md-content style="text-align:center;background-color:rgba(20,100,0,0.3);width:220px;margin:20px auto">
              <md-card style="background-color:tan;width:205px;"> -->
                <!-- Background Image -->
                <!-- <md-card-content id='statePic' style="text-align:center;background-size:100%;padding-top:10px;height:135px;background-color:lightgrey;">
                  <h3 style="text-align:center;color:red;font-weight:bold">More states coming soon!</h3>
                </md-card-content>
              </md-card>
          </div> -->

        	<div class="col-md-12">
        		<footer style="text-align:center;color:white"><p><b>&copy 2016 Phoja Unlimted LLC</b></p></footer>
        	</div>
    </div><!-- END OF LAWS PAGE / controller???-->


  <!-- <div  ng-show='vm.showCamping'style="height:100%;margin-top:100px;text-align:center;background-color:#1abace;">
    <h1>State Camping resources COMING SOON!</h1>
  </div>
  <div  ng-show='vm.showAbout'style="height:100%;margin-top:100px;text-align:center;background-color:#1abace;padding:1px;">
    <h1>What is TravState?</h1>
    <p style="padding:10px 100px;font-size:1.5em;text-align:center">The idea behind TravState is that if you are travelling or need information on another state that you are not familiar with, you can use this app to get high level overview of the laws, as well as a few basic demographics of the state you are interested in.</p>
    <p style="padding:10px 100px;font-size:1.75em;text-align:center">Currently this app is still under development even though is is live. Please do continue to check back with us as we continue to improve and add more features. </p>

    <p style="padding:10px 100px;font-size:1.75em;text-align:center">If you have questions, comments, or suggestions please send them to</p>
    <p style="text-align:center;font-size:1.5em;margin-top:-20px;"><a href="mailto:dojadeveloper@gmail.com" target="_top">dojadeveloper@gmail.com</a></p><br>
    <h4 style="margin-bottom:50px;">to make a donation:<a href='https://www.paypal.me/DevDoja' target="_blank"> paypal.me/DevDoja</a></h4>
  </div>
</div>
</div> -->
