<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>TraveLaws</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.css">
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body style="background-color:white;">

	<div style="background-color:#1abace"ng-controller="HomeController as vm">
		<div  class=""ng-show='vm.enterTraveLaws'style="height:600px;margin:0 auto;text-align:center">
			<md-input-container style="text-align:center ">
				<md-button class="md-raised md-warn" style="width:200px;margin:0 auto; margin-top:200px;"ng-click='vm.showTraveLaws()'>Enter TraveLaws</md-button>
			</md-input-container>
		</div>

		<div ng-show='vm.TraveLaws'>
			<md-input-container>
				<!-- <md-button style="width:100px;margin:15px;"class="md-raised md-warn" ng-click='vm.leaveTraveLaws()'>Exit</md-button> -->
			</md-input-container>
		<div class="responsive"style="text-align:center;font-size:3.5em;font-weight:bold;margin-top:-10px;">{{vm.title}}</div>
		<h4 style="text-align:center">{{vm.head}}</h4>
		<form class="form-inline">
			<div class="well container " style="text-align:justify;padding:20px">
				<p style="font-size:20px;padding-bottom:25px;text-align:center;"><span style="font-size:1.5em">TraveLaws</span> is your one stop resource for law information on different U.S. states. Whether you're on vacation or you're looking to move your business to another state, TraveLaws is the resource for you!</p>
				<h4 >What is TraveLaws?</h4>
				<p >TraveLaws is a resource used to find different state laws for different states all on one site. As some U.S. states don't have goverment websites regarding certain areas of law, here on TraveLaws we make it easy for you to find and connect to those corresponding online state resources.</p>
			</div>
			<div class=" " style="background-color:white;">
				<!-- rgba(20,100,0,0.3) -->
				<div >
					<div>
						<h3 style="text-align:center;padding-top:10px;color:grey;">Select a category of law for the corresponding state.</h3>
						<hr>
						<div class='col-md-3' style="margin:0 auto"ng-repeat='s in vm.States'>
							<md-content style="text-align:center;background-color:rgba(20,100,0,0.3);width:220px;margin:20px auto">
						    <md-card style="background-color:black;width:205px;">
									<!-- State Flag Image -->
						      <md-card-content id='statePic' style="background-image:url('{{s.image}}');background-repeat: no-repeat;text-align:center;background-size:100%;padding-top:10px;height:135px;">
						      </md-card-content>
									<!--  -->
									<md-menu md-position-mode="target-right target" style="color:black;">
										<!-- Modal button -->
					          <md-button style="margin: 0;"aria-label="Open demo menu" class="md-default md-raised" ng-click="$mdOpenMenu($event)">
											<b>{{s.state}}</b>
					          </md-button>
										<!-- Modal content -->
					          <md-menu-content width="3"  >
					            <md-item style="color:black;">
												<span style="text-align:right;background-color:lightblue;font-size:15px;">{{s.state}}</span><br>
												<md-button style='color:black;' href="">  Select a law category: </md-button><br>
					              <md-button style='color:black;' href="{{s.laws.gen}}" target="_blank">  General Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.bus}}" target="_blank">  Business Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.traf}}" target="_blank">  Traffic Laws </md-button><br>
												<md-button style='color:black;' href="{{s.laws.gun}}" target="_blank">  Gun Laws </md-button>
					            </md-item>
					          </md-menu-content>
					        </md-menu>
						    </md-card>

							</md-content>

							<!-- LAW CATEGORY DISPLAY -->

						</div>
						<!-- MORE COMING notifying div -->
						<div class='col-md-3' style="margin:0 auto">
							<md-content style="text-align:center;background-color:purple;width:220px;margin:20px auto">
						    <md-card style="background-color:tan;width:205px;">
									<!-- Background Image -->
						      <md-card-content id='statePic' style="text-align:center;background-size:100%;padding-top:10px;height:135px;">
										<h3 style="text-align:center;color:red;font-weight:bold">More states coming soon!</h3>
						      </md-card-content>
						    </md-card>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	</div>
	<div class="col-md-12">
		<hr>
	<footer style="text-align:center;margin-bottom:0;margin-top:10px;color:black"><p><b>&copy 2016 Phoja Unlimted LLC</b></p></footer></div>
	<!-- Ext Libs -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-aria.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.min.js"></script>
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/HomeFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/HomeController.js"></script>
</body>
</html>
